version: '3.5'

services:
  mmt-web:
    container_name: mmt-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 1000:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - mmt-be
    networks:
      - mmt-network

  mmt-be:
    container_name: mmt-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=mmt-server
    ports:
      - '1100:8000'
    networks:
      - mmt-network

  mmt-mysql:
    container_name: mmt-mysql
    build:
      context: ./docker/database
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: user_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mmt-mysql-data:/var/lib/mysql
    networks:
      - mmt-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

#  mmt-rabbit:
#    container_name: mmt-rabbitmq
#    image: rabbitmq:3-management-alpine
#    ports:
#      - '5672:5672'
#      - '15672:15672'
#    networks:
#      - mmt-network
#
####> doctrine/doctrine-bundle ###
#  database:
#    image: postgres:${POSTGRES_VERSION:-14}-alpine
#    environment:
#      POSTGRES_DB: ${POSTGRES_DB:-app}
#      # You should definitely change the password in production
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
#      POSTGRES_USER: ${POSTGRES_USER:-app}
#    volumes:
#      - db-data:/var/lib/postgresql/data:rw
#      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
#      # - ./docker/db/data:/var/lib/postgresql/data:rw
####< doctrine/doctrine-bundle ###

volumes:
#  mmt-pgsql-data:
#  db-data:

  mmt-mysql-data:

networks:
  mmt-network:
#    external: true
